<div class="col-md-8 offset-md-1">
  <h2>Book detail</h2>
  <table class="table">
    <tbody>
      <tr>
        <td>userimage</td>
        <td><%= link_to "#{@book.title}", book_path(@book.id) %></td>
        <td><%= @book.body %></td>
        <% if @book.user == current_user %>
          <td><a class="btn btn-sm"><%= link_to "Edit", edit_book_path %></a></td>
          <td><a><%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか？" %></a></td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
